*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body{
    font-family: "UTMSwissCondensed";
    font-size: 16px;
}
h1,h2,h4,h5{
    font-family:"UTMSwissCondensedBold" ;
}
.container{
    width: 1444px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .contact{
    width: 25%;
}
.title{
    width: 50%;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact div{
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}
.contact >a {
    margin-left: 40%;

}
header h2{
    font-size: 3.125rem;
    color: #ff7e00;
}
header p{
    font-size: 1.5625rem;
    color: #1670c5;
    font-weight: bold;
}
.contact > a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #1670c5;
}
.contact div > a{
    background: #1670c5;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
}
.contact a> i{
    color: #ffff;
}
nav{
    background-color: #1670c5;
}
.i-play{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.gap{
    gap: 40px;
}
.colum{
    flex-direction: column;
}

nav form i{
    transform: rotate(90deg);

}
nav form input::placeholder{
    text-align: right;
}
nav a{
    display: block;
    padding: 2.5rem 1rem;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
}
form{
    position: relative;
}
nav form i{
    position: absolute;
    color: #1670c5;
    font-size: 1.5rem;
    margin-left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
nav div ul li{
    margin: 15px;
}
nav form input{
    border: 1px solid #fff;
    border-radius: .5rem;
    padding:.5rem;
    width: 250px;
    font-size: 1.2rem;
}
nav form input:focus{
    outline: none;
    border: 1px solid #fff;
    text-align: right;
    
}
nav ul li a:hover{
    color: #ff7e00;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
#banner{
    background-image: url("/Baitap2/img/tintuc/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16.4375rem;
    padding: 4.2500rem 5.9375rem 2.9375rem;
    color: #fff;
}
#banner div{
    margin:40px
}
#banner h1{
    font-size: 3rem;
}
#banner p{
    font-size: 1.5rem;
}

#noi-dung3,
#noi-dung{
    background-color: #f6f6f6;
    height: 64.3750rem;
}
#noi-dung6,
#bao-chi,
#tap-doan{
    background-color: #f6f6f6;
}
#gioi-thieu{
    background-color: #ffffff;
}
#noi-dung7 h2::before,
#noi-dung4 h2::before,
#noi-dung3 h2::before,
#noi-dung2 h2::before,
#noi-dung1 h2::before,
#gioi-thieu h2::before{
    position: absolute;
    content: "";
    width: 130px;
    height: 0.3rem;
    background-color: #1670c5;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    border-radius: 2px ;
}
#noi-dung7 h2,
#noi-dung4 h2,
#noi-dung3 h2,
#noi-dung2 h2,
#noi-dung1 h2,
#gioi-thieu h2{
    text-align: center;
    align-content: center;
    color: #1670c5;
    font-size: 2.0rem;
    border-bottom: 2px solid #cccccc;
    width: 330px;  
}
#noi-dung7 .head-title,
#noi-dung4 .head-title,
#noi-dung3 .head-title,
#noi-dung2 .head-title,
#noi-dung1 .head-title,
#gioi-thieu .head-title{
    height: 100px;
    padding: 30px 0px 30px 0px;
    
}
.content{
    width: 705px;
}
.highlight {
    color: #0066cc;
    font-weight: bold;
}
.timeline {
    margin-top: 20px;
}
.timeline-item {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}
.timeline-item .icon {
    width: 20px;
    height: 20px;
    background-color: #0066cc;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
}
.quote {
    font-style: italic;
    color: #0066cc;
    font-weight: bold;
    margin-top: 20px;
}

.image{
    padding-bottom: 70px;
}

#noi-dung1 {
    background-image: url("/Baitap2/img/gioithieu/baner2.png");
    background-repeat: no-repeat;
}
#noi-dung1 h3{
    text-align: center;
    width: 1250px;
    margin-left: 89px;
    padding-bottom: 69px;
}

.noi-dung1a{
    width: 330px;
    height: 383px;
    padding-bottom: 170px;
}

.noi-dung1a h4{
    text-align: center;
    margin: 20px;
    color: #1670c5;
    font-weight: bolder;
}
.noi-dung1a p{
    text-align: center;
    padding-left: 20px;
}

.banner1{
    background-image: url("/Baitap2/img/gioithieu/baner1.png");
    background-repeat: no-repeat;
    height: 1260px;
    transform: translateX(-25px);

}
.subject{
    gap: 275px;
}
.noi-dung2a{
    position: relative;
    width: 353px;
    height: 134px;
    transform: translateY(180px);
    padding-left: 160px;
    margin-bottom: 60px;
    margin-top: 10px;
    text-align: right;
}
.noi-dung2a h4{
    text-align: right;
    font-size: 20px;
}
.noi-dung2b h4{
    text-align: left;
    font-size: 20px;
}
.noi-dung2b{
    width: 353px;
    height: 134px;
    transform: translateY(180px);
    padding-left: 160px;
    margin-bottom: 60px;
    margin-top: 10px;
    
    text-align: left;
}

.menu1 {
    background-color: #d4d4d4;
    width: 459px;
    height: 73px;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
    color: #1670c5;
}
.menu1:hover{
    background-color: #1670c5;
    color: #fff;
}


.menu3 img{
    width: 330px;
    height: 395px;
}
.menu3 h4,
.menu3 .name{
    color: #1670c5;
    font-weight: bold;
    font-size: 25px;
}
.menu3 p{
    font-size: 25px;
}

#noi-dung4{
    background-image: url("/Baitap2/img/gioithieu/banner3.png");
    height: 720px;
}

.noi-dung4a div{
    position: absolute;
    transform: translateY(-70px);
    left: 17%;
    font-size: 20px;
    font-weight: bold;
}
.noi-dung4b div{
    position: absolute;
    transform: translateY(-70px);
    left: 31%;
    font-size: 20px;
    font-weight: bold;
}
.noi-dung4c div{
    position: absolute;
    transform: translateY(-70px);
    left: 47%;
    font-size: 20px;
    font-weight: bold;
}
.noi-dung4d div{
    position: absolute;
    transform: translateY(-70px);
    left: 62%;
    font-size: 20px;
    font-weight: bold;
}
.noi-dung4e div{
    position: absolute;
    transform: translateY(-70px);
    left: 76%;
    font-size: 20px;
    font-weight: bold;
}
#noi-dung5{
    background-color: #283e59;
    height: 631px;
}
#noi-dung5 h2::before{
    position: absolute;
    content: "";
    width: 130px;
    height: 0.3rem;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    border-radius: 2px ;
}
#noi-dung5 h2{
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-size: 2.0rem;
    border-bottom: 2px solid #cccccc;
    width: 330px;  
}

#noi-dung5 .head-title{
    height: 100px;
    padding: 30px 0px 30px 0px;
    
}
.noi-dung5a .noi-dung5b{
    width: 354px;
    height: 225px;
    transform: translateY(30px);
    padding-left: 25px;
    padding-top: 100px;
    background-color: #ffffff;
}
.noi-dung5a .noi-dung5c{
    width: 354px;
    height: 225px;
    transform: translateY(30px);
    padding-right: 25px;
    padding-top: 100px;
    background-color: #ffffff;
    text-align: right;
}
.noi-dung5a .noi-dung5c h4,
.noi-dung5a .noi-dung5b h4{
    color: #1670c5;
    font-size: 20px;
}
#noi-dung6 h2{
    text-align: center;
    align-content: center;
    color: #1670c5;
    font-size: 2.0rem;
    border-bottom: 2px solid #cccccc;
    width: auto;  
}
#noi-dung6 h2::before{
    position: absolute;
    content: "";
    width: 330px;
    height: 0.3rem;
    background-color: #1670c5;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    border-radius: 2px ;
}
#noi-dung6 .head-title{
    height: 100px;
    padding: 30px 0px 30px 0px;
    
}
.noi-dung6a {
    width: 265px;
    height: 1577px;
    transform: translateY(60px);
}
.noi-dung6a .mui-ten{
    margin: 15px 0px 30px 120px;
    
    
}
.noi-dung6a h3{
    font-size: 30px;
}
.noi-dung6a-1c,
.noi-dung6a-1b,
.noi-dung6a-1a,
.noi-dung6a-1{
    height: 75px;
    text-align: center;
    align-content: center;
    background-color:#ff9000;
    color: #fff;
}
.noi-dung6a-2a,
.noi-dung6a-2{
    height: 141px;
    background-color: #fcc783;
    padding: 20px 0px 0px 20px;
    margin-bottom: 10px;

}
.noi-dung6a-3a,
.noi-dung6a-3{
    height: 206px;
    background-color: #fcc783;
    padding: 20px 0px 0px 20px;
    margin-bottom: 10px;
  
}
.noi-dung6a-4{
    height: 306px;
    background-color: #fcc783;
    padding: 20px 0px 0px 20px;
    margin-bottom: 10px;
}
.noi-dung6a-5{
    height: 306px;
    background-color: #fcc783;
    padding: 20px 0px 0px 20px;
    margin-bottom: 10px;
}
.noi-dung6a-6{
    height: 218px;
    background-color: #ff9000;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.noi-dung6a-1a{
    background-color: #d50d0d;
}
.noi-dung6a-2a{
    background-color:#ffa7a7 ;
}
.noi-dung6a-3a{
    background-color: #ffa7a7;
}
.noi-dung6a-4a{
    height: 306px;
    margin-bottom: 35px;    
}

.noi-dung6a-4a div{
    height: 55px;
    font-size: 30px;
    font-weight: bold;
    background-color: #ffa7a7;
    margin-bottom: 13px;
    padding-left: 35px;
}
.noi-dung6a-6a {
    margin-top: 37px;
    height: 218px;
    background-color: #d50d0d;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.noi-dung6a-1b{
    background-color: #1093de;
}

.noi-dung6a-2b{
    height: 161px;
    background-color: #ade1ff;
    align-content: center;
    margin-bottom: 10px;
    text-align: center;
}
.noi-dung6a-3b{
    height: 226px;
}
.noi-dung6a-3b-1{
    height: 80px;
    align-content: center;
    background-color: #ade1ff;
    text-align: center;
}
.noi-dung6a-3b-2{
    height: 135px;
    align-content: center;
    margin-top: 10px;
    background-color: #ade1ff;
    text-align: center;

}

.noi-dung6a-4b {
    margin-top: 10px;
    height: 55px;
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: #e80c0c;
    font-weight: bold;
    background-color: #ade1ff;
}
.noi-dung6a-5b{
    margin-top: 50px;
    height: 218px;
    background-color: #1093de;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.noi-dung6a-1c{
    background-color: #086d52;
}
.noi-dung6a-2c{
    height: 135px;
    align-content: center;
    margin-top: 54px;
    background-color: #a7dcce;
    text-align: center;
}
.noi-dung6a-3c{
    height: 180px;
    align-content: center;
    margin-top: 160px;
    background-color: #a7dcce;
    text-align: center;
}

.noi-dung6a-4c{
    margin-top: 33px;
    height: 218px;
    background-color: #086d52;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.noi-dung7a {
    width: 280px;
    min-height: 307px; /* Dùng min-height thay vì height cố định */
    background-color: #f6f6f6;
    padding: 10px; /* Thêm padding để tránh sát mép */
    margin-bottom: 80px;
}

.noi-dung7a div {
    text-align: center;
    flex-grow: 1; /* Đảm bảo các nội dung có cùng chiều cao */
}

.noi-dung7a p {
    text-align: justify;
    margin: 0 auto;
    width: 90%;
    line-height: 1.5; /* Thêm khoảng cách giữa các dòng để đồng đều */
    min-height: 80px; /* Đảm bảo chiều cao của đoạn văn đồng đều */
}


#doi-tac1{
    height: 394px;
    background-color: #f6f6f6;
}
#doi-tac1 .logo {
    margin-top: 55px;
}
#doi-tac1 .logo h3{
    margin-top: 30px;
    color: #ffa200;
    font-size: 35px;
    font-weight: normal;
}
#doi-tac1 .logo p{
  font-weight: bold;
}
.tong-ket >h3{
    margin-top: 55px;
    font-size: 30px;
    font-weight: normal;
    color: #191201;
}
.tong-ket p{
    color: #191201;
    font-size: 16px;
 
    font-family: "UTMSwissCondensedBold";
}
footer{
    background: #3184bf;
    text-align: center;
    align-content: center;
    height: 67px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
