*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body{
    font-family: "UTMSwissCondensed";
    font-size: 16px;
}
h1,h2,h4,h5{
    font-family:"UTMSwissCondensedBold" ;
}
.container{
    width: 1444px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .contact{
    width: 25%;
}
.title{
    width: 50%;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact div{
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}
.contact >a {
    margin-left: 40%;

}
header h2{
    font-size: 3.125rem;
    color: #ff7e00;
}
header p{
    font-size: 1.5625rem;
    color: #1670c5;
    font-weight: bold;
}
.contact > a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #1670c5;
}
.contact div > a{
    background: #1670c5;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
}
.contact a> i{
    color: #ffff;
}
nav{
    background-color: #1670c5;
}
.i-play{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.colum{
    flex-direction: column;
}
.gap{
    gap:10px
}
.gap1{
    gap: 30px;
}
.gap2{
    gap:100px
}
nav form i{
    transform: rotate(90deg);

}
nav form input::placeholder{
    text-align: right;
}
nav a{
    display: block;
    padding: 2.5rem 1rem;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
}
form{
    position: relative;
}
nav form i{
    position: absolute;
    color: #1670c5;
    font-size: 1.5rem;
    margin-left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
nav div ul li{
    margin: 15px;
}
nav form input{
    border: 1px solid #fff;
    border-radius: .5rem;
    padding:.5rem;
    width: 250px;
    font-size: 1.2rem;
}
nav form input:focus{
    outline: none;
    border: 1px solid #fff;
    text-align: right;
    
}
nav ul li a:hover{
    color: #ff7e00;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
#banner{
    background-image: url("/Baitap2/img/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16.4375rem;
    padding: 4.2500rem 5.9375rem 2.9375rem;
    color: #fff;
}
#banner div{
    margin:40px
}
#banner h1{
    font-size: 3rem;
}
#banner p{
    font-size: 1.5rem;
}
#lien-he1,
#lien-he {
    padding: 90px 0px 70px 0px;
    background-color: #f6f6f6;

}
#lien-he div{
    margin-top: 30px;
}
.lien-he1a{
    font-weight: bold;
    width: 360px;
}

.lien-he1c  .chu-de{
    width: 332px;
    font-size: 20px;
}
.form-group{
    width: 910px;
}

.form-group label {
    width: 135px; /* Đặt chiều rộng cố định cho label để căn thẳng hàng */
    text-align: left; /* Căn chữ của label sang phải */
}

.form-group input{
    border-radius: 7px;
    border: 1px solid #e2e2e2;
    height: 34px;
    flex: 1;
    
}
.form-group1a label{
    margin-right: 90px;
}
.form-group1a input{
    border-radius: 7px;
    border: 1px solid #e2e2e2;
    height: 34px;
    width: 275px;

    
}

.form-group textarea{
   flex: 1;
   height: 85px;
   border-radius: 7px ;
   border-color: #e2e2e2;
   
}

button{
    width: 172px;
    height: 40px;
    background-color: #1670c5;
    text-align: center;
    align-content: center;
    color: #fff;
    border: none;
    margin-left: 136px;
}

#doi-tac1{
    height: 394px;
}
#doi-tac1 .logo {
    margin-top: 55px;
}
#doi-tac1 .logo h3{
    margin-top: 30px;
    color: #ffa200;
    font-size: 35px;
    font-weight: normal;
}
#doi-tac1 .logo p{
  font-weight: bold;
}
.tong-ket >h3{
    margin-top: 55px;
    font-size: 30px;
    font-weight: normal;
    color: #191201;
}
.tong-ket p{
    color: #191201;
    font-size: 16px;
    font-weight: 600;
}
footer{
    background: #3184bf;
    text-align: center;
    align-content: center;
    height: 67px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}