#banner{
    background: #f06c64;
    padding: 50px 0;
}

@font-face {
    font-family: Lato-Bold;
    src: url("/font/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: Lato-Black;
    src: url("/font/Lato/Lato-Black.ttf");
}
@font-face {
    font-family: Lato-Light;
    src: url("/font/Lato/Lato-Light.ttf");
}
#ourServices{
    padding: 20px 80px;
    background: #f2f2f2;
}

#portfolio h2,
#aboutUs h3,
#getaQuote h3,
#ourServices h1{
    font-family: Lato-Black;
    font-size: 30px;
    color: #666d89;
    
}
#portfolio p,
#aboutUs p,
#getaQuote p,
#ourServices p{
    font-family: Lato-Light;
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.flex > div{
    margin: 40px;
}
.itemService{
    width: 220px;
    margin-right: 20px;
    margin-left: 80px;
}
#portfolio{
    background: #2d303a;
    padding: 65px 0;

}
.portfolio{
    margin-bottom: 18px;
}
.portfolio ul li{
    float: left;
    margin-right: 10px;
    list-style: none;
}
.portfolio ul li a{
    display: block;
    color: #767e9e;
    font-size: 12px;
    padding: 5px;
    border: 1px solid#767e9e;
    border-radius: 5px;

}
.selectedx,
.portfolio ul li a:hover{
    border: 1px solid #c5c5c5 !important;
    color: #c5c5c5 !important;
}

#aboutUs .itemAvata h4,
#ourServices h3{
    font-family: Lato-Black;
    font-size: 18px;
    color: #666d89;
}
.itemfix{
    margin-right: 0;
}
#aboutUs{
    padding: 66px 0;

}
.item{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: space-around;
    
}

#aboutUs .itemAvata p,
#ourService .itemService p{
    line-height: 21px;
}

#aboutUs ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}


#aboutUs ul li {
    display: inline-block; 
    margin-right: 5px;
}

#getaQuote{
    padding: 66px;
    background: #f06c64;
}
 #form .itemform{
    float: left;
    width: 620px;
    

}
.itemform input,
.itemform textarea{
    background: #2d303a;
    width: 90%;
    border: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #f48c8f;

}
.form{
    display: flex;
    justify-content: space-between;
}
.contactform{
    float: left;
    width: 300px;
}
.contactform h4{
    font-family: Lato-Black;
    font-size: 18px;
    color: #f0d8d9;
}
.contactform .css,
.contactform ul li{
    color: #f0d8d9 !important;
}
.contactform ul li a{
    background-position: 0 9px;
    display: block;
    color: #f0d8d9;
}